.navbar-icon-general-settings:before {
  background-image: url("../icons/787878/wrench.svg");
}
.no-svg .navbar-icon-general-settings:before {
  background-image: url("../icons/787878/wrench.png");
}
.navbar-icon-general-settings:active:before,
.navbar-icon-general-settings.navbar-active:before {
  background-image: url("../icons/000000/wrench.svg");
}
.no-svg .navbar-icon-general-settings:active:before,
.no-svg .navbar-icon-general-settings.navbar-active:before {
  background-image: url("../icons/000000/wrench.png");
}