body {
	background: @brand-primary;

}
.footer {
	background: @brand-primary;
	color: #FFF;
	margin-top: 0;
	a {
		color: #FFF;
	}
	
	#block-menu-footer-menu {
		.nav {
			li {
				margin-right: 6px;
			}
		}
		a {
			font-size: @font-size-small;
			background: none;
			&:hover {
				background: lighten(@brand-primary, 5%);
			}
		}
		.active-trail a {
			background: darken(@brand-primary, 5%);
		}
	}
}