body {
    background-color: #fffef8;
    background-attachment: fixed;
    background-repeat: repeat;
}

h1 {
    color: #ff0000;
    font-family: 'Monotype Corsiva';
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.headerLogo {
    width: 500px;
    margin: 10px auto;
}

.header .container{
    text-align: center;
}

.section {
    width: 100%;
}

.mainPage .containerOuter{
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #978c22;
}
.mainPage .containerOuter .containerBorder{
    border: 3px solid #978c22;
}
.mainPage .container{
    padding-bottom: 10px;
}

.pageSection{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.navWrapper {
    margin-top: 5px;
    border-bottom: 1px solid #978c22;
}

.navWrapper .container{
    background-color: none;
}

.topNav .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    font-family: 'EB Garamond', serif;
}

.topNav .nav li{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.topNav .nav li a{
    color: #978c22;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.topNav .nav li:hover a{
    color: #ff0000;
}

.facebook{/* 
    font-family: Grande, Tahoma, Helvetica, Roboto; */
    background-color: #3b5998;
    margin: 0px;
}
.googleP{/* 
    font-family: Grande, Tahoma, Helvetica, Roboto; */
    background-color: #ba0000;
    margin: 0px;
}


.form-stacked{
    width: 100%;
    background-color: #EAF4F5;
}
.form-stacked input{
    width: 100%;
    text-align: center;
}
.form-stacked textarea{
    width: 100%;
    text-align: center;
}




.table{
    display: table;
}
.tr{
    display: table-row;
}
.td{
    display: table-cell;
}
.tc{
    display: table-column;
}

.priceTable{
    width: 100%;
}

.priceTable .tr .td{
    width: 30%;
}

.col-2{
    width: 48%;
    margin: 0 auto;
    display: inline-block;
}

.col-3{
    width: 32%;
    margin: 0 auto;
    display: inline-block;
}

.col-4{
    width: 24%;
    margin: 0 auto;
    display: inline-block;
}
.col-4x3{
    width: 74%;
    margin: 0 auto;
    display: inline-block;
}

.vAlignTop {
    vertical-align: top;
}
.vAlignMid {
    vertical-align: middle;
}
.vAlignBot {
    vertical-align: bottom;
}

.footer {
    border-top: 1px solid #978c22;
    padding: 10px;
}

.footHoriz {
    width: 100%;
}
.footHoriz * {
    display: inline-block;
}

.footDetailsContainer {
    text-align: right;
}

.footDetails {
    color: #978c22;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.phone {
    font-family: serif;
}

.footerLogo {
    width: 100%;
}

@media screen and (max-width: 600px){
    .col-2{
        width: 100%;
        margin: 0;
    }
    .col-3{
        width: 100%;
        margin: 0;
    }
    .col-4{
        width: 100%;
        margin: 0;
    }
    .col-4x3{
        width: 100%;
        margin: 0;
    }
    .headerLogo {
        width: 80%;
    }
    .footDetailsContainer {
        text-align: center;
    }
    .footerLogo {
        width: 50%;
    }
}