@import "base.css.less";

@navbarwidth: 200px;

// Navbar
body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: @navbarwidth; // Offset site to same width as navbar
  .container {
    max-width: 100%;
  }
}

#navbar-administration.navbar-oriented {
  .navbar-tray-vertical {
    width: @navbarwidth; // Width of navbar
    .navbar-menu > .navbar-twisty > .navbar-menu {
      display: none; // Hides menu items deeper than first level
    }
  }

  .navbar-icon.navbar-handle {
    display: none; // Hides toggle to show deeper than second level
  }
}

body.toolbar {
    padding-top: 2.2em;
}
body.toolbar-drawer {
    padding-top: 5.3em;
}
#toolbar, #toolbar * {
    border: 0 none;
    font-size: 100%;
    line-height: inherit;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
}
#toolbar {
    background: none repeat scroll 0 0 #666666;
    box-shadow: 0 3px 20px #000000;
    color: #CCCCCC;
    font: small "Lucida Grande",Verdana,sans-serif;
    left: 0;
    margin: 0 -20px;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 600;
}
#toolbar div.collapsed {
    display: none;
    visibility: hidden;
}
#toolbar a {
    color: #FFFFFF;
    font-size: 0.846em;
    text-decoration: none;
}
#toolbar ul li, #toolbar ul li a {
    float: left;
}
#toolbar div.toolbar-menu {
    background: none repeat scroll 0 0 #000000;
    line-height: 20px;
    padding: 5px 50px 5px 10px;
    position: relative;
}
#toolbar-home a span {
    background: url("../img/icons/toolbar.png") no-repeat scroll 0 -45px transparent;
    display: block;
    height: 14px;
    margin: 3px 0;
    text-indent: -9999px;
    vertical-align: text-bottom;
    width: 11px;
}
#toolbar-user {
    float: right;
}
#toolbar-menu {
    float: left;
}
#toolbar div.toolbar-menu a.toggle {
    background: url("../img/icons/toolbar.png") no-repeat scroll 0 -20px transparent;
    bottom: 0;
    cursor: pointer;
    height: 25px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    width: 25px;
}
#toolbar div.toolbar-menu a.toggle:focus, #toolbar div.toolbar-menu a.toggle:hover {
    background-position: -50px -20px;
}
#toolbar div.toolbar-menu a.toggle-active {
    background-position: -25px -20px;
}
#toolbar div.toolbar-menu a.toggle-active.toggle:focus, #toolbar div.toolbar-menu a.toggle-active.toggle:hover {
    background-position: -75px -20px;
}
#toolbar div.toolbar-menu ul li a {
    border-radius: 10px 10px 10px 10px;
    padding: 0 10px;
}
#toolbar div.toolbar-menu ul li a:focus, #toolbar div.toolbar-menu ul li a:hover, #toolbar div.toolbar-menu ul li a:active, #toolbar div.toolbar-menu ul li a.active:focus {
    background: none repeat scroll 0 0 #444444;
}
#toolbar div.toolbar-menu ul li a.active:hover, #toolbar div.toolbar-menu ul li a.active:active, #toolbar div.toolbar-menu ul li a.active, #toolbar div.toolbar-menu ul li.active-trail a {
    background: url("../img/icons/toolbar.png") repeat-x scroll 0 0 transparent;
    text-shadow: 0 1px 0 #333333;
}
#toolbar div.toolbar-drawer {
    padding: 0 10px;
    position: relative;
}
* html #toolbar {
    left: -20px;
    margin: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

/*Hydrant toolbar overrides*/
#toolbar { box-shadow:0 4px 8px rgba(0,0,0,.2); /*border-bottom:1px dashed rgba(255,255,255,.25);*/ }
#toolbar div.toolbar-menu { padding:12px 30px 13px 30px; background:@charcoal; background:@bgblue url(../img/bg/speckles.png) 0 0 repeat; /*border-top:1px dashed rgba(255,255,255,.25);*/ }
.toolbar-drawer #toolbar { border-bottom:1px solid #fff;}
#toolbar .toolbar-menu a{font-size:12px;}
#toolbar .toolbar-drawer a {font-size:11px;}
#toolbar div.toolbar-menu ul li a { padding:2px 10px; .br-radius; margin-right:5px; color:#fff; text-shadow: 1px 1px 0 rgba(0,0,0, .25);}
#toolbar div.toolbar-menu ul li.home a { box-shadow:none; padding-left:6px;}
#toolbar div.toolbar-menu ul li.home a:hover { background:none;box-shadow:none; }
#toolbar div.toolbar-menu ul li a:focus,
#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active,
#toolbar div.toolbar-menu ul li a.active:focus,
#toolbar div.toolbar-menu ul li a.active:hover,
#toolbar div.toolbar-menu ul li a.active:active,
#toolbar div.toolbar-menu ul li a.active,
#toolbar div.toolbar-menu ul li.active-trail a { background:#fff;  color:#000; box-shadow:inset 1px 1px 2px rgba(0,0,0, .2); text-shadow:none;}

#toolbar div.toolbar-menu #toolbar-home li a:focus,
#toolbar div.toolbar-menu #toolbar-home li a:hover,
#toolbar div.toolbar-menu #toolbar-home li a:active,
#toolbar div.toolbar-menu #toolbar-home li a.active:focus,
#toolbar div.toolbar-menu #toolbar-home li a.active:hover,
#toolbar div.toolbar-menu #toolbar-home li a.active:active,
#toolbar div.toolbar-menu #toolbar-home li a.active,
#toolbar div.toolbar-menu #toolbar-home li.active-trail a { background:none!important; box-shadow:none!important;}

#toolbar div.toolbar-drawer {
	background:#fff;
	box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.2);
	padding:4px 20px;
	min-height: 34px;
}
div#toolbar div.toolbar-shortcuts ul { height:18px; line-height:18px; margin-top:2px;
	li a { color:@black; background:none; border-radius:none; padding:3px 8px;}
}

div#toolbar a#edit-shortcuts,
div#toolbar a:hover#edit-shortcuts,
div#toolbar a#edit-shortcuts.active {
  color:@black;
}
div#toolbar a#edit-shortcuts { padding:7px 10px 3px 5px;}
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:hover,
div#toolbar div.toolbar-shortcuts ul li a.active { background:@warmgrey; }

#toolbar div.toolbar-menu a.toggle { right:30px; bottom:0; height:35px; width:30px; background:#fff url(../img/icons/arrow-black.png) -30px 3px no-repeat; border-radius:4px 4px 0 0; z-index:2;}
#toolbar div.toolbar-menu a.toggle:focus,
#toolbar div.toolbar-menu a.toggle:hover { background-position:-30px 3px; }
#toolbar div.toolbar-menu a.toggle-active.toggle:focus,
#toolbar div.toolbar-menu a.toggle-active.toggle:hover { background-position:0 3px;}
.toolbar-drawer #toolbar div.toolbar-menu a.toggle {bottom:-6px; height:41px;}

/*toolbar edit shortcuts link*/
div#toolbar div.toolbar-shortcuts ul li a:focus,
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:focus { background:none; text-decoration:underline;}

/*top right user menu items*/
#toolbar div.toolbar-menu #toolbar-user { margin-right:40px; font-size:16px;}
#toolbar div.toolbar-menu #toolbar-user li a { background:none; box-shadow:none;}
#toolbar div.toolbar-menu #toolbar-user li a:hover { text-decoration:underline;text-shadow:none; color:#fff;}
