body {
    margin: 0;
    background-color: #dedede;
    font-family: 'Segoe UI', 'Open Sans Condensed', sans-serif;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
}

.titleHR{
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    width: 100%;
}

.header {
    background-color: #284596;
    width: 100%;
}

.logo {
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}

.container {
    margin: 0 auto;
}

.headerNavigation li{
    display: inline-block;
}

.headerNavigation {
    list-style: none;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.headerNavigation li a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.headerNavigation li:hover a{
    text-shadow: 1px 1px black;
}

.slider {
    width: 100%;
}

.pageContent {
    width: 100%;
}

.centered {
    text-align: center;
}

.footer {
    width; 100%;
    margin-top: 200px;
    border-top: 5px solid #284596;
}

.inlineMiddle {
    display: inline-block;
    vertical-align: middle;
}

.footerBottom {
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    background-color: #3a55a0;
}

.footerCopyright {
    text-decoration: none;
    color: #ffffff;
}
.teamProfile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #284596;
}

.contactForm input{
    width: 90%;
    font-size: 25px;
    margin:  auto 5px;
}
.contactForm textarea{
    width: 90%;
    font-size: 25px;
    margin:  auto 5px;
}

.portfolioLink {
    text-decoration: none;
    color: #000000;
}

.secondaryNavWrapper {
    width: 100%;
    background-color: #3a55a0;
}

.secondaryNav {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.secondaryNav li{
    display: inline-block;
    vertical-align: top;
}

.secondaryNav li:hover{
    background-color: #dedede;
}
.secondaryNav li:hover a{
    color: #284596;
}

.secondaryNav li a{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}

.secondaryNav .active{
    background-color: #dedede;
}
.secondaryNav .active a{
    color: #284596;
}