h1 {
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px black;
    font-weight: 900;
}
.titleHR{
    width: 30%;
}

.logo {
    height: 75px;
}

.container {
    width: 100%;
}

.headerNavigation li a{
    font-size: 15px;
    padding: 10px;
}

.imageSlideMenu {
    height: 50px;
    background-color: #284596;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.imageSlideMenu li{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #000;
}
.imageSlideMenu li:last-child{
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #000;
}

.imageSlideMenu li a{
    display: inline-block;
    font-size: 15px;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
}

.topMarginLarge {
    height: 150px;
    width: 100%;
}

.exampleImage {
    height: 300px;
}