h1 {
    color: #000000;
}

.titleHR{
    visibility: hidden;
    display: none;
}

.header {
    text-align: center;
}

.logo {
    width: 85%;
}

.container {
    width: 100%;
}

.headerNavigation li a{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    font-size: 25px;
}

.headerNavigation li{
    text-align: center;
    width: 100%;
}

.imageSlideMenu {
    visibility: hidden;
    display: none;
}

.topMarginLarge {
    height: 50px;
    width: 100%;
}

.exampleImage {
    width: 100%;
}