.slider .imageSlideArea{
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.imageSlideArea img{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition: ease 1s;
    transition: ease 1s;
}