/*fonts*/
.sansserif-light { font-family: "EquestrienneRRLightRegular", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.sansserif-regular { font-family: "EquestrienneRRBookRegular", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.sansserif-bold { font-family: "EquestrienneRRBookBold", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.serif-bold { font-family: "MetroScriptRegular", Georgia, "Times New Roman", Times, serif;}

/*colour*/
@charcoal: #302c28;
@orange: #EB6B06;
@darkorange: #9B411E;
@deeporange: #B3401B;
@warmgrey: #EAE5DF;
@musk: #C4BCB1;
@musktext: #564c40;
@musktextlink: #302412;
@white: #ffffff;
@black: #000000;
@subtleorange: #A24C23;
@bordergrey: #D7D2CA;
@borderdeepgrey: #b3aca1;
@greyhighlight: #e3dfda;
@buttongreen: #636e51;
@bluelink: #1a6478;
@bgblue: #4b708a;
@lightgrey: #f8f5f0;

/*borders*/
.br-radius {border-radius:2px;}
.br-standard { border:1px solid @bordergrey;}
@br-2px: 2px;

/*bg colours*/
.bg-white { background:#fff;}

/*consistent line heights*/
@lhbase: 18px;