@font-face {
    font-family: 'EquestrienneRRLightRegular';
    src: url('../fonts/eql_____-webfont.eot');
    src: url('../fonts/eql_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eql_____-webfont.woff') format('woff'),
         url('../fonts/eql_____-webfont.ttf') format('truetype'),
         url('../fonts/eql_____-webfont.svg#EquestrienneRRLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	font-size-adjust:.49;
}

@font-face {
    font-family: 'EquestrienneRRBookRegular';
    src: url('../fonts/eqw_____-webfont.eot');
    src: url('../fonts/eqw_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eqw_____-webfont.woff') format('woff'),
         url('../fonts/eqw_____-webfont.ttf') format('truetype'),
         url('../fonts/eqw_____-webfont.svg#EquestrienneRRBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	font-size-adjust:.5;
}

@font-face {
    font-family: 'EquestrienneRRBookBold';
    src: url('../fonts/eqm_____-webfont.eot');
    src: url('../fonts/eqm_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eqm_____-webfont.woff') format('woff'),
         url('../fonts/eqm_____-webfont.ttf') format('truetype'),
         url('../fonts/eqm_____-webfont.svg#EquestrienneRRBookBold') format('svg');
    font-weight: normal;
    font-style: normal;
	font-size-adjust:.5;
}

@font-face {
    font-family: 'MetroScriptRegular';
    src: url('../fonts/metroscript-webfont.eot');
    src: url('../fonts/metroscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metroscript-webfont.woff') format('woff'),
         url('../fonts/metroscript-webfont.ttf') format('truetype'),
         url('../fonts/metroscript-webfont.svg#MetroScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	font-size-adjust:.3;
}