@import "base.css.less";

/*html body*/
html {-webkit-text-size-adjust:none; background:#fff url(../img/bg/content-grey.jpg) 0 0 repeat; }
body { color:@musktext; font:normal 75% "Lucida Grande", "Lucida Sans Unicode", sans-serif; line-height:@lhbase;}

/*headings*/
h1,h2,h3,h4,h5,h6 { color:@charcoal; .sansserif-regular;}
h1 { font-size:26px; line-height:34px; }
h2 { font-size:24px; line-height:28px;}
h3 { font-size:22px; line-height:26px;}
h4 { font-size:20px; line-height:24px; }
h5 { font-size:18px; line-height:22px; }
h6 { font-size:16px; line-height:22px; }
small {	font-size:11px; } large { font-size:16px; }

/*Type/Lists*/
::-webkit-selection { background:@greyhighlight; color:@charcoal; text-shadow:none; }
::-moz-selection { background:@greyhighlight; color:@charcoal; text-shadow:none; }
::selection { background:@greyhighlight; color:@charcoal; text-shadow:none; }

ol, ul, dl, p { margin-bottom:@lhbase;}
dt, th { font-weight:bold; }
dd { margin:0; font-weight:normal; }

img, object, video { border:0; max-width:100%; }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; margin:0 @lhbase @lhbase 0; }
.ie7 img { -ms-interpolation-mode:bicubic; }

a { color:@bluelink; cursor:pointer; }
a:hover,
.views-admin a:hover { color:@charcoal; text-decoration:underline;}

/*branding*/
#branding { padding:0; margin:25px 30px 0 30px; position:relative; z-index:2;
	h1 {margin:20px 0 21px 0; float:left; width:80%;	}
}
h1 em,
h2 em { color:@deeporange; font-style:normal;}

/*breadcrumb*/
#branding div.breadcrumb { font-size:12px; display:block; padding-right:180px; margin:2px 0 6px 0;
	a { padding:0 2px;
		&:first-child { padding-left:0;}
		&:first-child { padding-left:0;}
		&:last-child { text-decoration:none; }
		&:last-child:hover { color:@musktextlink;}
	}
}

/*top right branding*/
/*#meta { position:relative; width:180px; height:120px; float:right; overflow:hidden; }*/
#visitme {position:absolute; top:0; right:12px; width:120px; font-size:14px; text-shadow: 1px 1px 0 #fff, 1px 1px 2px rgba(0,0,0, .15); letter-spacing:.025em;.sansserif-regular; margin:0;
	a { text-decoration:none; color:@charcoal; background:url(../img/icons/window.png) 0 50% no-repeat; padding-left:25px;
		&:hover { text-decoration:underline; color:@orange;text-shadow: 1px 1px 0 #fff; }
	}
}
/*main content bubble*/
#content {.br-standard; .br-radius; overflow:hidden;}

/*siteinfo*/
#siteinfo {/*background:url(../img/logos/hydrant.png) 0 18px no-repeat;*/ .sansserif-regular; padding:18px 0 0 80px; margin:0 10px; position: relative;
	a { text-decoration:none;
		&:hover { color:@deeporange; text-decoration:underline;}
	}
	.mail a { color:@deeporange;
		&:hover { color:@charcoal;}
	}

	#hydrant{position:absolute; top:8px; left:0; background:url(../img/logos/hydrant.png) 0 0 no-repeat; width:65px; height:31px; text-indent:-99999px;
		a { display:block;}
	}
	.vcard div { display:inline-block; line-height:14px; font-size:12px;
		&.adr { display:block;}
	}
}
/*back to top*/
#top a { position:absolute; top:13px; right:0; width:65px; padding-right:28px; height:30px; line-height:30px; text-align:right; font-size:11px; text-decoration:none; display:block; background:url(../img/icons/arrow-circle-up.png) 66px -30px no-repeat;
	&:hover { background-position:66px 0; }
}

/*==drupal overides==*/

/*admin panels*/
div.admin-panel {
	.br-radius; .br-standard; padding:10px 15px 15px 15px; background:#faf8f5; /*box-shadow:0 1px 0 rgba(0,0,0,0.3);*/
	.admin-list { margin-bottom:0;
		dt a { font-weight:normal;}
		dd { font-size:11px;}
	}
}

dl.admin-list { margin-bottom:0;
	dt { margin-bottom:@lhbase/2;
		&:last-child { margin-bottom:0; }
	}
}

/*action links*/
ul.action-links { margin-top:0; padding:0;}
ul.action-links li a {
    background:url(../img/icons/action-add.png) 2px 7px no-repeat;
    line-height:30px;
    padding-left:28px;
    padding-bottom: 8px;
    display:inline-block;
}
.rules-elements-table {
  position: relative;
	ul.rules-operations-add a {
	  	line-height: 30px;
	  }
}

/*vertical tabs*/
.vertical-tabs fieldset.vertical-tabs-pane { padding:1em;}
.vertical-tabs ul.vertical-tabs-list li a { background:@warmgrey; border-bottom: 1px solid #D6D6D6; box-shadow:0 1px 0 #F7F7F7; text-shadow: 0 1px 0 rgba(255,255,255,1); color:@charcoal;}
.vertical-tabs ul.vertical-tabs-list li a:hover { background:@lightgrey; color:#000; text-shadow: 0 1px 0 rgba(255,255,255,.45);}
.vertical-tabs ul.vertical-tabs-list li a:hover { outline:none;}
.vertical-tabs ul.vertical-tabs-list li.selected a,
span.cke_skin_kama, div.vertical-tabs { background:#fff;}
.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong { text-decoration:none;}
div.vertical-tabs { border-color:#D6D6D6;}

/*table clean ups*/
table tr td,
thead tr th,
.token-tree td, .token-tree th{ padding:8px 12px;}
thead,
table th {.sansserif-regular; font-size:14px; color:@charcoal;}
thead a { color:@charcoal;}
thead a:hover { color:#000;}
.token-tree { margin-left:0;}
.token-tree .expander { margin-left:0!important;}
table tbody tr td { font-size:12px; }

/*pager*/
.item-list .pager { text-align:left; float:left; margin:@lhbase 0;
	li { color:@musktext; line-height:26px; display:inline-block; float:left; margin-right:5px; padding:0;
		a { display:inline-block; text-decoration:none; line-height:26px; padding:0 10px; color:@musktextlink;.br-standard; border-color:@borderdeepgrey; .br-radius;
			&:hover { display:inline-block; float:left; color:@charcoal; background:@warmgrey; border-color:@musk; }
		}
	}
	.pager-current { padding:0 10px; color:@charcoal;}
	li.pager-next a,
	li.pager-last a,
	li.pager-previous a,
	li.pager-first a { background:none; border:none; padding:0; margin-right:10px;}
	li.pager-next a:hover,
	li.pager-last a:hover,
	li.pager-previous a:hover,
	li.pager-first a:hover { color:@darkorange; text-decoration:underline; background:none;  }
	li.pager-next { margin-left:10px;}
}

/*dashboard overides*/
#dashboard #disabled-blocks .block,
#dashboard #disabled-blocks .block h2 {
    background-color:#444;
    color: #fff;
}

/*password strength*/
.form-type-password.password-parent div.password-strength,
.form-type-password.confirm-parent div.password-confirm {
    float: right;
    width: 150px;
	margin-left:25px;
}

/*system messages*/
div.messages { background-position:12px 10px; background-repeat:no-repeat; .br-radius; padding:12px 0 10px 48px; margin:0; box-shadow:3px 3px #f0ede8;}
div.status { background-image: url(../img/icons/message-tick.png); }
div.status,
.ok { color: #154a0c; }
div.status,
table tr.ok { background-color: #D4FFCD; border-color:#8bc781; }

div.warning { background-image: url(../img/icons/message-warning.png); }
div.warning,
.warning {  color: #514513;}
div.warning,
table tr.warning {  background-color: #FDFDCB; border-color:#d5bf2c;}
body div.tabledrag-changed-warning { margin-bottom:@lhbase;}
div.error { background-image: url(../img/icons/message-error.png); border-color: #ca8a85;}
div.error,
.error {  color: #641F1A;}
div.error,
table tr.error {  background-color: #FFD2D4;}
div.error p.error {  color: #333;}
div.messages ul {  margin: 0 0 0 1em; /* LTR */  padding: 0;}
div.messages ul li {  list-style-image: none;}

/*consistent no padding*/
span.cke_skin_kama { padding:0!important;}

/*general system spacing tidy up*/
form div.buttons { text-align:left;}
.element-invisible { display:none!important; }

/*inline entity tidy up*/
fieldset .fieldset-wrapper { padding: 0 13px 13px 15px; }
fieldset.collapsible {
  border: 1px solid @bordergrey;
  padding: 2.5em 0 0 0;
  position: relative;
  margin: 1em 0;
}
fieldset .fieldset-legend {margin-top: 0.5em;}
.view-commerce-backoffice-orders .views-exposed-form .views-widget select {height:145px;}
// .views-exposed-form .views-exposed-widget .form-submit {margin-top:0px;}
.views-displays .secondary a.views-display-disabled-link {text-decoration:  line-through !important;}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float:right;
   width:20%;
  padding-top:0;
  padding-left:0;
  margin:30px 0 10px 0;
}
div.add-or-remove-shortcuts a { float:right; padding-right:12px;}
div.add-or-remove-shortcuts a span.icon {
    background:url(../img/icons/action-add.png) 0 0 no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-left: 0;
    width: 16px;
	line-height:16px;
}
div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
	background:none!important;
    border-radius:0;
    color:@charcoal;
	font-size:12px;
    cursor: pointer;
    display: block;
    padding-right:0;
	line-height:16px;
	height:16px;
}
div.add-or-remove-shortcuts a span.text {
    display: block;
    float: left;
    padding-left: 10px;
	font-size:12px;
	line-height:16px;
}
div.add-shortcut a:focus span.icon,
div.add-shortcut a:hover span.icon,
div.remove-shortcut a span.icon,
div.remove-shortcut a:focus span.icon,
div.remove-shortcut a:hover span.icon {
    background-position: 0 0;
}
div.remove-shortcut a span.icon,
div.remove-shortcut a:focus span.icon,
div.remove-shortcut a:hover span.icon {background:url(../img/icons/action-remove.png) 0 0 no-repeat;}

div.add-or-remove-shortcuts a span.text .placeholder { font-style:normal;}
