.navbar-icon-cacheflusher:before {
  background-image: url("../icons/787878/wrench.svg");
}
.no-svg .navbar-icon-cacheflusher:before {
  background-image: url("../icons/787878/wrench.png");
}
.navbar-icon-cacheflusher:active:before,
.navbar-icon-cacheflusher.navbar-active:before {
  background-image: url("../icons/000000/wrench.svg");
}
.no-svg .navbar-icon-cacheflusher:active:before,
.no-svg .navbar-icon-cacheflusher.navbar-active:before {
  background-image: url("../icons/000000/wrench.png");
}