.main-container {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #FFF;
}

// generic date field formatting
.date {
	font-size: @font-size-small;
	color: @gray-light;
	margin-bottom: 10px;
}

.header-top {
  margin-top: 0;
}

// Floating images
img {
  &.right {
  	float: right;
  	margin-left: 15px;
  	margin-bottom: 15px;
  }
  &.left {
  	float: left;
  	margin-right: 15px;
  	margin-bottom: 15px;
  }
}

// Style up the news feature view
.listing {
  .views-row {
    margin-bottom: 20px;
    .listing-summary,
    .listing-content {
      padding-bottom: 20px;
      border-bottom: 1px solid @gray-lighter;
      h3.title {
        margin-top:0;
      }
    }
    img {
      margin-bottom: @grid-gutter-width/2;
    }
  }
}

// Views exposed filters
.views-exposed-form {
  .views-exposed-widget {
    float: none;
  }
  .form-control.bef-select-as-checkboxes {
    height: auto;
    .form-control {
      box-shadow: none;
    }
    input[type="radio"],
    input[type="checkbox"] {
      display: inline;
      width: auto;
    }
  }
}