.navbar-default {
	background: @gray-dark;
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom:0;
	/* Logo */
	.logo {
		img {
			max-width: 200px;
			height: auto;
		}
	}
	/* Active menu possition trail */
	.navbar-nav {
		.active-trail {
			a {
				color: @navbar-default-link-active-color;
				background-color: @navbar-default-link-active-bg;
				&:hover,
				&:focus {
					color: @navbar-default-link-active-color;
					background-color: @navbar-default-link-active-bg;
				}
			}
		}
	}
}